body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #dde2e8;
}
h2 {
    color: #f15356;
    font-size: 35px;
    font-weight: 600;
}

/*------HEADER------*/
header {
    text-align: center;
}
/*barra de navegacion*/
nav {
    background-color: #263940;
}
.navbar {
    --bs-navbar-toggler-border-color: red;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    box-shadow: none;
}
.logo-nav{
    margin-left: 10px;
    width: 45px;
}
.nav-link a{
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
    color: #dde2e8;
}
.nav-link a:hover {
    color: #f15356;
}
.alinear-derecha {
    justify-content: flex-end;
}
.contenedor-logo {
    background-image: url(imagenes/fondo-logo.jpg);
}
.logo-header {
    margin: 150px auto 250px;
}
/*boton fijo subir*/
.btn-subir-conteniner {
    position: fixed;
    bottom:40px;
    right: 40px;
    z-index: 10;
    opacity: 0;
    transition-duration: 500ms;
    
}
.btn-subir {
    margin: 0;
    color: white;
    font-size: 40px;
    cursor: default;
}
.btn-subir:hover{
    color: #f15356;
}
.btn-subir:active{
    transform: scale(0.5);
}
.btn-subir i{
    border-radius: 100%;
    background-color: #2f3032;
    box-shadow: 0 0 10px #2f3032;
}



/*------MAIN------*/

/* Section Sobre nosotros */
#sobre-nosotros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px 10%;
    background-color: #263940;
    color: #dde2e8;
}
#sobre-nosotros div {
    width: 45%;
}
#sobre-nosotros h3 {
    font-size: 25px;
    margin-top: 25px;
}
#sobre-nosotros img {
    height: 40%;
    width: 40%;
    margin-left: 5%;
}

/* Section Video */
#video {
    padding: 80px;
    text-align: center;
}
#video h2 {
    margin-bottom: 60px;
}
iframe {
    width: 800px;
    height: 450px;
}

/* Section productos */
#productos {
    background-color: #f15356;
    padding: 60px 10%;
    text-align: center;
}
#productos h2{
    color: #263940;
}
.contenedor-cartas{
    margin: 40px 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cartas {
    width: 270px;
    height: 450px;
    margin: 40px 20px;
    padding: 20px 15px 25px;
    color: #dde2e8;
    background-color: #263940;
    border-radius: 10px;
    box-shadow: 0 0 20px #263940;
}
.cartas:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px 2px  #2f3032;
    transition-duration: 0.5s;
}
.cartas h3 {
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
}
.cartas img {
    margin: 0 auto;
    border: 1px solid #dde2e8;
    width: 90%;
}
.cartas p {
    height: 45px;
    margin: 20px 5px
}
.btn-productos {
    width: 70%;
    height: 50px;
    background-color: #f15356;
    border: none;
    color: #263940;
    align-items: baseline;
    border-radius: 8px;
}
.btn-productos:hover {
    background-color: #263940;
    border: 2px solid #f15356;
    color: #f15356;
}

/* Section Colores */
#colores {
    padding: 80px 20% 40px;
    text-align: center;
}
#colores h2 {
    margin-bottom: 60px;
}
.carousel-item h5 {
    margin-top: 40px;
    color: #263940;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
}
.imagen-carrusel{
    width: 50%;
}
/* Consultar stock colores */
.tarj-consult-stock {
    width: 70%;
    margin: 40px auto 0;
    padding: 20px 0;
    background-color: #263940;
    border-radius: 20px;
    box-shadow: 0 0 20px #2f3032;
}
#colores h3 {
    margin-top: 40px;
    font-size: 30px;
    color: #dde2e8;
    font-weight: 800;
}
#stockColores {
    margin: 30px auto;
    width: 350px;
    height: 50px;
    text-align: center;
    background-color: #263940;
    border: 2px solid #dde2e8;
    color: #dde2e8;
    display: block;
}
#stockColores:focus {
    outline: none;
}
#colores .btn-consultar {
    width: 130px;
    height: 35px;
    background-color: #f15356;
    border: 2px solid #2f3032;
    border-radius: 8px;
    color: #263940;
}
#colores .btn-consultar:hover {
    background-color: #dde2e8;
    border: 2px solid #263940;
    color: #263940;
}
#respuesta {
    margin: 40px auto 0;
    display: block;
    text-align: center;
    background-color: #263940;
    border: none;
    color: #f15356;
    font-size: 26px;
    font-weight: 800;
    width: 500px;
    height: 50px;
    resize: none;
    visibility: hidden;
}
#respuesta:focus {
    outline: none;
}

/* Section Formulario */
#formulario {
    text-align: center;
    padding: 60px;
    background-color: #2f3032;
}
#formulario form {
    color:#dde2e8
}
#formulario .form-datos {
    margin: 0 auto;;
    width: 500px;
}
#formulario label {
    display: block;
    margin: 40px 0 0;
    text-align: left;
    font-size: 20px;
}
#formulario input {
    margin: 0 auto;
    display: block;
    width: 400px;
    background-color: #2f3032;
    color: #dde2e8;
    border: none;
    border-bottom: 2px solid #f15356;
}
#formulario input:focus {
    outline: none;
    box-shadow: none;
}
#formulario form p {
    margin-top: 30px;
    font-size: 24px;
}
#formulario select {
    width: 300px;
    height: 30px;
    background-color: #2f3032;
    color: #dde2e8;
    border: 2px solid #f15356;
    border-radius: 5px;
}
#formulario select:focus {
    outline: none;
}
#formulario textarea {
    width: 500px;
    height: 100px;
    background-color: #2f3032;
    color: #dde2e8;
    border: 2px solid #f15356;
    border-radius: 5px;
    resize: none;
}
#formulario .btn-enviar {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #f15356;
    border: #263940;
    color: #2f3032;
    border-radius: 10px;
}
#formulario .btn-enviar:hover {
    background-color: #dde2e8;
    transform: scale(1.05);
    transition-duration: 0.5s;
}
#formulario .btn-enviar:active {
    transform: scale(1);
    transition-duration: 0ms;
    background-color: #f15356;
}

/* Section Call action */
#call-action {
    background-color: #f15356;
    padding: 60px;
    text-align: center;
}
#call-action h2 {
    color: #263940;
}
#call-action button {
    width: 300px;
    height: 60px;
    margin: 80px auto 60px;
    color:#2f3032;
    border: 3px solid #2f3032;
    background-color: #dde2e8;
    border-radius: 20px;
}
#call-action button:hover {
    background-color: #263940;
    color: #dde2e8;
}
#call-action .icon-redes {
    margin: 0 80px;
    color: #dde2e8;
    font-size: 55px;
    
}
#call-action a:hover {
    color: #263940;
}
#call-action i {
    margin-top: 60px;
}



/*------FOOTER------*/
footer {
    padding: 60px 0 30px;
    background-color: #263940;
    color: #dde2e8;
    text-align: center;
}
footer a{
    font-size: 24px;
    text-decoration: none;
    color: #dde2e8;
    margin: 0 10px;
}
footer a:hover{
    color: #f15356;
}




/* Media querys */

/*No llegue a terminar de hacerla responsive*/

@media (max-width: 992px) {
    .logo-header {
        width: 80%;
    }
    
    #sobre-nosotros {
        flex-direction: column;
        padding: 10%;
        text-align: center;
    }
    #sobre-nosotros div {
        width: 100%;
    }
    #sobre-nosotros img {
        width: 90%;
        margin: 40px auto 0;
    }
    #sobre-nosotros p {
        margin: 0 auto;
    }
    iframe {
        width: 560px;
        height: 315px;
    }

    #productos {
        padding: 60px 3%;
    }

    #colores {
        padding: 80px 10%;
    }
}


@media (max-width: 768px) {
    #video {
        padding: 60px 5%;
    }
    iframe {
        width: 320px;
        height: 180px;
    }

    .btn-subir-conteniner {
        bottom: 3%;
        right: 3%;
    }

    #productos {
        padding: 60px 5%;
    }
    .contenedor-cartas {
        margin: 0;
    }
    .cartas {
        margin: 60px 20px 0;
    }
    #colores {
        padding: 60px 5%;
    }
    .imagen-carrusel{
        width: 70%;
    }
    .tarj-consult-stock {
        width: 90%;
    }
    #stockColores {
        width: 80%;
    }
    #respuesta{
        width: 100%;
        margin: 10px auto 0;
    }


    #formulario {
        padding: 60px 30px;
    }
    #formulario .form-datos {
        width: 100%;
    }
    #formulario input {
        width: 80%;
    }
    #formulario select {
        width: 80%;
    }
    #formulario textarea {
        width: 80%;
    }
    #call-action {
        padding: 60px 5%;
    }
    #call-action button {
        margin: 25px auto 60px;
    }
    #call-action .icon-redes {
        margin: 0 8%;
        font-size: 40px;
    }
    #call-action i {
        margin-top: 20px;
    }
}